body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
video {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 99%;
    height: 99%;
    object-fit: cover;
    z-index:-2;
}
.center-content{
    position: absolute;
    top:40%;
    left: 45%;
    bottom:0%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#000;
}
.center-content image{
    width: 100px;
    height: auto;
    position:absolute;
    z-index:0;
}
.behind-text1{
    font-size:90px;
    font-style:oblique;
    top:0px;
    left:0px;
    /* right:px; */
    bottom:900px;
    position:absolute;
    z-index: -1;
    /* display: flex;
    justify-content: space-evenly;
    width: 1101px; */

}
.behind-text2{
    font-size:90px;
    font-style:oblique;
    top: 200px;
    left: 700px;
    right: 0px;
    bottom: 0px;
    position:absolute;
    z-index: -1;
    /* display: flex; */
    /* justify-content:space-between; */
    /* width: 1120px; */
}
h1{
    mix-blend-mode: multiply;
    opacity: 1;
}
.vibrate {
  animation: vibrate 0.3s infinite;
  animation-delay:11s;
  display: inline-block;
  animation-iteration-count: 100;
}

@keyframes vibrate {
  0%   { transform: translate(0); }
  20%  { transform: translate(-5px, 5px); }
  40%  { transform: translate(-5px, -5px); }
  60%  { transform: translate(5px, 5px); }
  80%  { transform: translate(5px, -5px); }
  100% { transform: translate(0); }
}
#vibrate {
  animation: vibrate 0.9s infinite;
  animation-delay: 11s;
  display: inline-block;
  animation-iteration-count: 33.34;
}

@keyframes vibrate {
  0%   { transform: translate(0); }
  20%  { transform: translate(-5px, 5px); }
  40%  { transform: translate(-5px, -5px); }
  60%  { transform: translate(5px, 5px); }
  80%  { transform: translate(5px, -5px); }
  100% { transform: translate(0); }
}

